
tabela {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
dentro {
  border:#88b8a9 solid 3px;
  text-align: center;
  padding: 10px;
}

div {
  padding-top: 1rem;
  padding-bottom: 30rem;

  width:100%;
  height: 50%;

  display: flex;
  justify-content: center;
  background-color: #88b8a9;
}




