@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    font-family: Montserrat, sans-serif;
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;

    max-width: 100%;
    max-height: 100%;

}
